#include <dt-bindings/phy/phy.h>
// Reference:
// https://github.com/pavel-demin/red-pitaya-notes/blob/cc13b6aa6c375b149940492cfa906fe693e0f046/dts/common.dts

// I2C attached EEPROM
&i2c0 {
    eeprom@50 {
        compatible = "24c64";
        size = <8192>;
        pagesize = <32>;
        reg = <0x50>;
        // TODO: Contains the mac address?
		/* mac_address: mac-address@9A { */
		/* 	reg = <0x9A 6>; */
		/* }; */
    };
};

// User SPI (attached to pin headers)
&spi1 {
  spidev@0 {
    compatible = "ltc2488";
    reg = <0x0>;
    spi-max-frequency = <10000000>;
  };
};

// USB
&usb0 {
    dr_mode = "host";
    usb-phy = <&usb_phy0>;
    xlnx,phy-reset-gpio = <&gpio0 48 0>;
};

/ {
  usb_phy0: phy0 {
    #phy-cells = <0>;
    compatible = "ulpi-phy";
    reg = <0xe0002000 0x1000>;
    view-port = <0x0170>;
    drv-vbus;
  };
  pps {
    compatible = "pps-gpio";
    gpios = <&gpio0 54 0>;
    capture-clear;
  };
};

// Other
/ {
	chosen {
        // For ramfs make sure to set root correctly (and package the root filesystem with the boot image -> see image.its)
		// bootargs = " earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/ram0 rw net.ifnames=0 biosdevname=0 cma=128M";
        // Use second partition of sd card as root (persistent filesystem)
		bootargs = " earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/mmcblk0p2 rw net.ifnames=0 biosdevname=0 cma=128M";
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

        cma_reserved: cma@0 {
            compatible = "shared-dma-pool";
            reusable;
            reg = <0x30000000 0x08000000>; /* 128 MB at 768 MB */
            alignment = <0 0x1000>; /* 4 kB aligned */
            no-map;
        };
	};
	axi_stream_dma_0@b0000000 {
		compatible = "axi_stream_dma";
		reg = <0xb0000000 0x10000>;
		interrupts = <0 29 4>;
        // Of CoURse the interupt parent has another label for the ultra scale device tree...
        // ultrascale: gic
        // 7series: intc
        // Why Xilinx, why?
		interrupt-parent = <&intc>;
        // AXI HP interfaces are not coherent, so do not set coherent here.
        // The ACP interface would be coherent so if that is used, coherent can be set 
        // here (probably) to let the dma driver know so it can initialize memory 
        // accordingly.
        // dma-coherent;  // Set to use coherent dma ops
	};
};
