#include <dt-bindings/phy/phy.h>
/ {
	chosen {
        // For ramfs make sure to set root correctly (and package the root filesystem with the boot image -> see image.its)
		// bootargs = " earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/ram0 rw net.ifnames=0 biosdevname=0 cma=128M";
        // Use second partition of sd card as root (persistent filesystem)
		bootargs = " earlycon console=ttyPS0,115200 clk_ignore_unused root=/dev/mmcblk0p2 rw net.ifnames=0 biosdevname=0 cma=128M";
		stdout-path = "serial0:115200n8";
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

        cma_reserved: cma@0 {
            compatible = "shared-dma-pool";
            reusable;
            reg = <0x30000000 0x08000000>; /* 128 MB at 768 MB */
            alignment = <0 0x1000>; /* 4 kB aligned */
            no-map;
        };
	};
};
